{% extends "base.html" %}

{% block title %}Form{% endblock title %}

{% block body %}
  {% csrf_token %}
    <form action="form/" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" aria-describedby="emailHelp">
      </div>
      <div class="form-floating">
        <textarea class="form-control" id="floatingTextarea2" name="descritption"></textarea>
        <label for="floatingTextarea2">Descritption</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock body %}